{%- if product.metafields.customproduct.included or variant.metafields.customvariant.included -%}
  <div class="whats-included">
    <h4>What's Included:</h4>
    <p>{{ block.settings.rich-text }}</p>
  </div>

  {% for variant in product.variants %}
  {% if variant.metafields.customvariant.included %}
  <div class="whats-included">
    <h4>Variant Included:</h4>
    {{ variant.metafields.customvariant.included | json }}
  </div>
  {% endif %}
  {% endfor %}
{%- endif -%}

{% capture 'meta_data' %}
{% for variant in product.variants %}

{{ variant.id | json }}: {{ variant.metafields.customvariant.included | json }}
{% unless forloop.last %},{% endunless %}

{% endfor %}
{% endcapture %}

<script>
var metaData = { {{ meta_data }} }
</script>
<div id="product-whats-included"></div>


<script>
$(function() {

  function updateWhatsIncluded(e) {
    var $currentOption = $('option:selected');
    var $mesgElement = $('#product-whats-included');

    if (typeof metaData === "undefined") {
      return;
    }

    if ($currentOption) {
      var variantID = Number($currentOption.val());
      var mesg = metaData[variantID];

      if (mesg) {
        $mesgElement.html(mesg).show();
      } else {
        $mesgElement.hide();
      }
    }
  }

  $('[data-swatch-options]').on('change', 'input[type=radio]', updateWhatsIncluded);

  updateWhatsIncluded();
});

</script>
