<script src="{{ 'cart-suggestions.js' | asset_url }}" defer="defer"></script>

hello world

<script id="CartSuggestionsTemplate" type="text/template">
  {% raw %}

  {{#each this}}
    {{#if this.addToCart}}
      <div class="cart-upsell-item">
        <div class="cart-upsell-image">
          <a href="{{this.product.url}}" class="cart-upsell-product"><img src="{{this.product.image.src}}" class="cart__image" alt="{{this.product.title}}"></a>
        </div>
        <div class="cart-upsell-deets">
          <a href="{{this.product.url}}"><h4>{{this.mesg}}</h4></a>
          <p><span>{{this.variant.formatted_price}}</span></p>
          <a data-add-cart-suggestions data-variant-id="{{this.variant.id}}" href="#" class="btn cart-upsell-btn">Add Now</a>
        </div>
      </div>
    {{/if}}
  {{/each}}
  {% endraw %}
</script>


{% schema %}
{
  "name": "t:sections.cart-suggestions.name",
  "class": "cart__suggestions",
  "settings": [
  ]
}
{% endschema %}
